- name: install libcurl4-openssl-dev 
  apt:
      name: libcurl4-openssl-dev
      state: present

- name: install libssl-dev
  apt:
      name: libssl-dev
      state: present

- name: install tree
  apt:
      name: tree
      state: present

- name: install nfs-common
  apt:
      name: nfs-common
      state: present

- name: install gnome-screenshot
  apt:
      name: gnome-screenshot
      state: present

- name: install libffi-dev
  apt:
      name: libffi-dev
      state: present

- name: install whois
  apt:
      name: whois
      state: present

- name: install proxychains
  apt:
      name: proxychains
      state: present

- name: install ack-grep
  apt:
      name: ack-grep
      state: present

- name: install hydra
  apt:
      name: hydra
      state: present

- name: install jq
  apt:
      name: jq
      state: present

- name: install chromium-browser
  apt:
      name: chromium-browser
      state: present
  ignore_errors: yes
  when: ansible_lsb.id != "Kali"

- name: install dos2unix
  apt:
      name: dos2unix
      state: present

- name: install html2text
  apt:
      name: html2text
      state: present

- name: install unzip
  apt:
      name: unzip
      state: present

- name: install john the ripper
  apt:
      name: john
      state: present

- name: install postgresql
  apt:
      name: postgresql
      state: present

- name: install mysql-client
  apt:
      name: mysql-client
      state: present
  ignore_errors: yes
  when: ansible_lsb.id != "Kali"

- name: install default-mysql-client
  apt:
      name: default-mysql-client
      state: present
  ignore_errors: yes
  when: ansible_lsb.id == "Kali"

- name: install postgresql-contrib
  apt:
      name: postgresql-contrib
      state: present
  ignore_errors: yes

- name: hydra
  apt:
      name: hydra
      state: present
  ignore_errors: yes

- name: medusa
  apt:
      name: medusa
      state: present
  ignore_errors: yes

- name: default-jdk
  apt:
      name: default-jdk
      state: present
  ignore_errors: yes

- name: install socat
  apt:
      name: socat
      state: present
  ignore_errors: yes


