- name: Get Facts
  debug:
      msg: 
        -  "ansible_lsb.major_release: {{ansible_lsb.major_release}}"

- name: install python
  apt:
      name: python
      state: present

- name: Install python-pip (Bionic Beaver)
  apt:
      name: python-pip
      state: present
  when: "ansible_lsb.major_release == '18'"

- name: Install python-pip (Focal Fossa)
  shell: "mkdir -p /opt/install/pip2 && curl https://bootstrap.pypa.io/get-pip.py --output /opt/install/pip2/get-pip.py && python2 /opt/install/pip2/get-pip.py"
  when: "ansible_lsb.major_release == '20'"

- name: install python3
  apt:
      name: python3
      state: present

- name: install python3-pip
  apt:
      name: python3-pip
      state: present

